.vscode
bin/*

*.tab.cpp
*.tab.hpp
*.yy.cpp

*.o
*.s
*.output

translator_testbench/cprograms/bin/
translator_testbench/pyprograms/
translator_testbench/working/

test_deliverable/working
compiler_testbench/working